@import "typography.css";

$primary-color: #347928;
$secondary-color: #C0EBA6;
$trimary-color: #FCCD2A;
$text-color: #FFFBE6;
$font-family: 'Arial, sans-serif';

$gradient-color1: #4CAF50;
$gradient-color2: lightgray;
@mixin gradient-bg($color-1, $color-2){
    background: linear-gradient($color-1, $color-2);
}
@mixin flex(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    // height: 200vh;
    margin: 0;
    font-family: $font-family;
    @include gradient-bg($gradient-color1, $gradient-color2);
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    // background-color: $primary-color;
    @include gradient-bg($primary-color, $gradient-color1);
    
    ul{
        display: flex;
        
        li{
            text-align: center;
            width: 4rem;
            height: max-content;
            padding: .45rem;
            margin: 5px;
            list-style: none;
            background-color: $gradient-color1;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

            &:hover{
                background-color: #C0EBA6;
            }
            
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

.logo-wrap{
    width: 5rem;
    
    
    img{
        width: 100%;
        border-radius: 50%;
        height: 4rem;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
}

.hero{
    // background: $secondary-color;
    text-align: center;
    padding:50px 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 5px;
    margin: 2rem;

    h2{
        font-size: 2rem;
        color:$primary-color;
    }

    p{
        color: #333;
        margin-top: 10px;
    }
}

main{
    @include flex();
    margin-bottom: 6rem;
}

.calculator{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    @include flex();
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    
    // border: 1px solid $secondary-color;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    h2{
        color: $primary-color;
        text-align: center;
    }

    form{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @include flex();
    }

    label{
        margin: 10px 0 5px;
    }

    .output{
        padding: 10px;
        margin: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    input{
        height: 1.2rem;
        padding: 5px;
        margin: 7px;
        border: none;
        border-radius: 1.4rem;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;    }

    button{
        margin-top: 10px;
        // background: $trimary-color;
        color: $primary-color;
        width: 20rem;
        padding: 10px;
        margin: 5px;
        border: none;
        border-radius: .5rem;
        cursor: pointer;

        &:hover{
            background: darken($trimary-color, 10%);
        }
    }
}

.summary{
    margin-top: 20px;
    text-align: center;

    h3{
        color: $primary-color;
    }

    p{
        color: black;
        font-size: 1.5rem;
    }
}

.features{
    width: 35rem;
    height: 26rem;
    text-align: center;
    background-color: white;
    border: 1px solid $secondary-color;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 5px;


    h2{
        font-size: 2rem;
    }

    .info{
        @include  flex();
        list-style: none;


        .info-item{
            text-align: center;
            font-size: 1.5rem;
            width: 50%;
            height: 4rem;
            padding: 10px;
            margin: 10px;
            background-color: #C0EBA6;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

            @include flex();
            justify-content: center;
        }
    }
}

footer{
    background: $primary-color;
    color: white;
    text-align: center;
    padding: 20px;

    p{
        margin: 0;
    }
}

@media(max-width: 745px){

    .hero{
        width: 15rem;
    }

    .calculator{
        width: 15rem;
        
        button{
            width: 100%;
        }
    }

    .features{
        width: 17rem;
        height: 30rem;

       .info{
        height: max-content;

        .info-item{
            height: 5rem;
        }
       }
    }
}